<table class="nav">
<tr>
    <td class="border_red{% if page.url == '/index.html' %} selected{% endif %}"><a href="/">Home</a></td>
    <td class="border_yellow{% if page.url == '/projects.html' %} selected{% endif %}"><a href="/projects.html">Projects</a></td>
    <td class="border_green{% if page.url == '/hacker_night.html' %} selected{% endif %}"><a href="/hacker_night.html">Hacker Night</a></td>
    <td class="border_blue{% if page.url == '/about.html' %} selected{% endif %}"><a href="/about.html">About</a></td>
</tr>
</table>
