body {
    background: #EFF3F4;
    color: #363636;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

a {
    color: #00A1CB;
    text-decoration: none;
}

b {
    font-weight: bold;
    color: #E54028;
}

.container {
    width: 450px;
    margin: 0px auto 0px auto;
}

.title {
    font-size: 72px;
    text-align: center;
    padding: 10px;
    color: #E54028;
}

.tagline {
    text-align: center;
    font-size: 24px;
    padding: 5px 0px 20px 0px;
}

.stripe {
    height: 1px;
}

.stripe.gray {
    background: #616161;
}

h1 {
    font-size: 32px;
    margin: 20px 0px 5px 0px;
    padding: 0px;
}

h1:nth-child(n+1) {
    margin-top: 20px;
}

p {
    font-size: 16px;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    line-height: 1.4em;
}

.footer {
    width: 450px;
    margin: 0px auto 0px auto;
    font-size: 14px;
    margin-top: 20px;
}
