/*
 * General tags
 */
body {
    background: #EEE;
    color: #616161;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    min-width: 600px;
}

a {
    color: #E54028;
    text-decoration: none;
    font-weight: 300;
}

p {
    margin: 10px 0px;
    line-height: 1.4em;
}

p.indent {
    text-indent: 20px;
}

h1 {
    font-size: 28px;
    margin: 0px 0px 5px;
}

h2 {
    font-size: 28px;
    border-bottom: 1px solid #CCC;
    padding: 5px 0px;
}

/*
 * Top/nav bar
 */
a.title {
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.nav {
    margin: 0px auto -3px auto;
    text-align: center;
    border-spacing: 0px 0px;
    float: right;
}

.nav_bar {
    border-bottom: 3px solid #CCC;
    margin: 0px 0px 10px 0px;
    height: 44px;
}

.nav_title {
    display: block;
    position: absolute;
    left: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 47px;
}

.nav td a {
    display: block;
    color: #616161;
    padding: 10px 20px;
    margin: 0px 0px;
    font-size: 18px;
}

.nav td {
    border-bottom: 3px solid #000;
}

.nav td.selected a {
    font-weight: 700;
}

/*
 * Navbar colors
 */
.border_red {
    border-color: #F18D05 !important;
}

.border_yellow {
    border-color: #D0D102 !important;
}

.border_green {
    border-color: #61AE24 !important;
}

.border_blue {
    border-color: #00A1CB !important;
}

/*
 * Body stuff
 */
.container {
    width: 500px;
    margin: 0px auto 0px auto;
}

.footer {
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    color: #878787;
    width: 300px;
}

.members {
    margin: 0px;
}

.members li {
    margin: 5px 0px;
}

.members a {
    font-weight: 700;
}

/*
 * Posts
 */
.post_title {
    font-size: 24px;
}

.post_meta {
    font-size: 14px;
    font-style: italic;
    margin: 5px 0px 10px 0px;
}

/*
 * Projects
 */
.project_first {
    margin-top: 20px;
}

.project {
    background: #FFF;
    padding: 10px;
}

.project_title {
    display: block;
    font-size: 24px;
}

/*
 * Hacker night customs
 */
h1.hn_title {
    color: #E54028;
    text-align: center;
    font-size: 48px;
    text-align: center;
}

.hn_tagline {
    text-align: center;
    font-size: 24px;
    margin: 20px 0px;
}

.hn_date {
    text-align: center;
    font-weight: 700;
}

h3 {
    margin: 20px 0px 10px 0px;
    font-size: 24px;
}

hr {
    border: 0px none;
    border-bottom: 1px solid #CCC;
    padding: 0px;
    display: block;
    margin: 20px 0px;
}
