<!DOCTYPE html>
<html>
    <head>
        <title>RocHack - Home</title>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
    </head>
    <body>
        <div class="nav">
            <a href=".">Home</a>
            <a href="projects.html">Projects</a>
            <a href="https://github.com/RocHack">Github</a>
            <a href="https://groups.google.com/forum/?fromgroups#!forum/rochack">Mailing List</a>
            <a href="irc://irc.freenode.com/##RocHack">IRC</a>
        </div>
        <div class="content">
            {{content}}
        </div>
    </body>
</html>
