<!DOCTYPE html>
<html>
    <head>
        <title>RocHack</title>
        <link rel="stylesheet" type="text/css" href="static/style.css" />

        {% if page.url != "/index.html" %}
        <link rel="stylesheet" type="text/css" href="static/small_header.css" />
        {% endif %}
        {% if page.url == "/index.html" %}
        <link rel="stylesheet" type="text/css" href="static/index.css" />
        {% endif %}

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>

    {% if page.url == "/index.html" %}
    <div class="cover">
        <div class="greeting">
        RocHack is a group of hackers, engineers, entrepreneurs, and friendly people who attend the <a href="http://rochester.edu">University of Rochester</a>. We love to build things that make people's lives better.
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="top">
            <a class="title" href="/">RocHack</a>
        </div>
        <table class="nav">
        <tr>
            <td class="border_red{% if page.url == '/index.html' %} selected{% endif %}"><a href="/">Home</a></td>
            <td class="border_yellow{% if page.url == '/projects.html' %} selected{% endif %}"><a href="/projects.html">Projects</a></td>
            <td class="border_green{% if page.url == '/hacker_night.html' %} selected{% endif %}"><a href="/hacker_night.html">Hacker Night</a></td>
            <td class="border_blue{% if page.url == '/about.html' %} selected{% endif %}"><a href="/about.html">About</a></td>
        </tr>
        </table>
        <div class="content">
            {{content}}
        </div>

        <div class="footer">
            Made in Rochester, NY. All source available on <a href="https://github.com/RocHack/rochack.github.io">GitHub</a>.
        </div>
    </div>
    </body>
</html>
